@import '../../../styles/mixins';
@import '../../../styles/variables';

.wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    padding: 0 20px;

    @include respond-to(lg) {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    @include respond-to(sm) {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        margin-top: 20px;
    }
}

.inner {
    display: flex;
    width: var(--default-layout-width);
    gap: 20px;
    justify-content: space-between;
    margin: 0 0 40px 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;

    @include respond-to(lg) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    @include respond-to(sm) {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;

    @include respond-to(lg) {
        width: 100%;
    }

    @include respond-to(sm) {
        width: 100%;
    }

    .title {
        font-size: 2.8rem;
        color: var(--primary);
        text-align: center;

        @include respond-to(sm) {
            font-size: 2.4rem;
        }
    }

    .sub-title {
        font-size: 2.6rem;
        font-weight: 400;
        color: var(--primary);

        @include respond-to(sm) {
            font-size: 2.2rem;
        }
    }

    .logo-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 200px;
    }

    .text {
        color: var(--text-color);
        text-align: justify;
        font-size: 1.8rem;
        line-height: 1.8;
        font-weight: 300;

        strong {
            font-weight: 600;
        }

        @include respond-to(lg) {
            font-size: 2.4rem;
        }

        @include respond-to(sm) {
            font-size: 1.8rem;
        }
    }

    .button {
        font-size: 1.4rem;
        text-transform: uppercase;
        width: 100%;
        color: var(--primary);
        background-color: transparent;
        transition: all ease-in-out 200ms;

        @include respond-to(lg) {
            width: 200px;
            font-size: 1.6rem;
        }

        &:hover {
            color: var(--white);
            background-color: var(--primary);
        }
    }
}

.sticker-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to(lg) {
        width: 100%;
    }

    @include respond-to(sm) {
        width: 100%;
    }
}

.sticker {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content {
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.sticker-container {
    transition: transform 0.3s ease-out;
}
