.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

.inner {
    display: flex;
    width: calc(var(--default-layout-width));
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.leftSide {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.loginImage {
    width: 100%;
    height: 100%;
    min-height: 600px;
    object-fit: cover;
}

.rightSide {
    width: 50%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        text-align: left;
        margin-bottom: 20px;
        color: var(--primary);
        font-size: 3.2rem;
        font-weight: 700;
    }
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.actionsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.submitButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submitButton:disabled {
    background-color: #ccc;
}

.forgotPassword {
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.signupPrompt {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.signupPrompt span {
    margin-right: 5px;
}

.signupLink {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.error {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}
