@import '../../styles/mixins';
@import '../../styles/variables';

.product-item {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    text-align: start;
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid #ccc;

    &:hover {
        .product-item-image {
            transform: scale(1.05);
        }
    }

    &-image {
        width: 100%;
        height: 100%;
        padding: 10px;
        object-fit: cover;
        transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }

    &-details {
        padding: 0 16px 16px 16px;
    }

    &-name {
        font-size: 1.6rem;
        font-weight: 800;
        color: var(--text-color);
        min-height: 50px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include respond-to(lg) {
            font-size: 2rem;
        }

        @include respond-to(sm) {
            font-size: 1.6rem;
            min-height: 50px;
        }
    }

    &-price-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &-icon {
        padding: 10px 11px;
        background-color: white;
        color: var(--primary);
        border-radius: 100%;
        border: 1px solid var(--primary);
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: rotate(180deg);
        }
    }

    &-price,
    &-currency {
        font-size: 1.6rem;
        color: var(--primary);
        font-weight: 800;
        margin: 10px 0;

        @include respond-to(lg) {
            font-size: 1.8rem;
        }

        @include respond-to(sm) {
            font-size: 1.4rem;
        }
    }

    &-currency {
        text-decoration: underline;
    }

    &-button {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    &-details-tag {
        font-size: 1.4rem;
        position: absolute;
        right: 38px;
        top: 48%;
        transform: translateY(-50%);
        background-color: var(--secondary);
        color: white;
        padding: 4px 8px;
        border-radius: 4px;
        white-space: nowrap;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
    }

    &-icon:hover ~ .product-item-details-tag {
        right: 48px;
        opacity: 1;
        visibility: visible;
    }
}
