@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27914a;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(0);
    z-index: 1000;
    padding: 14px 0;

    @include respond-to(xl) {
        padding: 0 20px;
        margin: 0;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        box-shadow: 0 2px 4px rgba(8, 116, 54, 0.1);
        transform: translateY(-100%);
        opacity: 0;
        animation: slideDown 0.3s forwards ease-in-out;
        margin: 0;
    }

    @include respond-to(lg) {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #27914a;
        width: 100%;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translateY(0);
        z-index: 1000;
        padding: 8px 24px;
    }

    @keyframes slideDown {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .inner {
        width: var(--default-layout-width);
        display: flex;
        gap: 20px;
        align-items: center;

        @include respond-to(lg) {
            justify-content: space-between;
            gap: 10px;
        }

        .logo {
            height: 80px;

            @include respond-to(sm) {
                height: 65px;
            }
        }

        .logo-link {
            display: flex;
            align-items: center;
        }

        .mobile-menu-icon {
            display: none;
            cursor: pointer;
            font-size: 2.4rem;
            width: 32px;
            color: var(--secondary-fade);

            @include respond-to(xl) {
                display: block;
            }
        }

        .navigation-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            @include respond-to(lg) {
                width: auto;
            }
        }

        .navigation-utilities {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .left-section {
                width: calc(60% - 20px);
                flex-shrink: 0;

                @include respond-to(lg) {
                    display: none;
                }
            }

            .right-section {
                width: calc(40% - 20px);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 20px;

                @include respond-to(lg) {
                    width: 100%;
                    justify-content: center;
                }

                .search {
                    display: none;
                    // @include respond-to(lg) {
                    //     display: flex;
                    //     align-items: center;
                    //     margin-right: 10px;
                    //     cursor: pointer;
                    // }

                    .icon {
                        margin-right: 5px;
                        padding: 15px;
                        color: var(--white);
                        background-color: var(--secondary-fade);
                        border-radius: 50%;
                    }
                }

                .hotline,
                .account,
                .cart {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    cursor: pointer;

                    @include respond-to(lg) {
                        margin-right: 0;
                    }

                    &:hover {
                        .text {
                            color: var(--secondary-hover);
                        }

                        .icon {
                            background-color: var(--secondary-hover);
                        }
                    }

                    &-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--secondary-hover);
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                        color: var(--secondary-hover);
                        @include respond-to(lg) {
                            display: none;
                        }
                    }

                    .icon {
                        margin-right: 5px;
                        padding: 14px;
                        width: 16px;
                        color: var(--white);
                        background-color: var(--secondary-fade);
                        border-radius: 50%;
                        transition: 0.3s ease-in-out all;

                        @include respond-to(lg) {
                            margin: 0;
                        }
                    }

                    .phone-number,
                    .username,
                    .cart-items {
                        font-weight: bold;
                    }
                }

                .hotline {
                    @include respond-to(lg) {
                        display: none;
                    }
                }
            }
        }

        .navigation-links {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style-type: none;
            gap: 40px;
            padding: 0;
            margin: 0;
            margin-left: 10px;

            @include respond-to(lg) {
                margin-left: 0;
                gap: 0;
            }

            > li {
                position: relative;
                min-width: 100px;
                z-index: 1000;
                justify-content: center;
                display: flex;
                // align-items: center;
                flex-direction: column;
                transition: all 0.2s ease-in-out;
                text-align: center;
                border-top: 2px solid transparent;
                border-bottom: 2px solid transparent;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 3px;
                    background-color: transparent;
                    transform: scaleX(1);
                    transform-origin: left;
                    transition: all 0.3s ease-in-out;
                    z-index: 9999;

                    @include respond-to(xl) {
                        background-color: transparent;
                        height: 100%;
                        width: 3px;
                        left: 0;
                    }
                }
                .active-link {
                    // &::after {
                    //     content: '';
                    //     position: absolute;
                    //     bottom: 0;
                    //     left: 0%;
                    //     width: 100%;
                    //     height: 3px;
                    //     background-color: var(--primary);
                    //     transform: scaleX(1);
                    //     transform-origin: left;
                    //     z-index: 9999;
                    //     @include respond-to(xl) {
                    //         background-color: var(--secondary);
                    //         height: 100%;
                    //         width: 5px;
                    //     }
                    // }
                    color: var(--secondary-hover);
                }

                &:hover {
                    // &::after {
                    //     content: '';
                    //     position: absolute;
                    //     bottom: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 3px;
                    //     background-color: var(--primary);
                    //     transform: scaleX(1);
                    //     transform-origin: left;
                    //     z-index: 9999;

                    //     @include respond-to(xl) {
                    //         background-color: var(--secondary);
                    //         height: 100%;
                    //         width: 4px;
                    //     }
                    // }

                    a {
                        color: var(--secondary-hover);
                        @include respond-to(xl) {
                            color: var(--white);
                        }
                    }
                }

                @include respond-to(xl) {
                    min-width: 100%;
                }

                .menu-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    @include respond-to(xl) {
                        padding: 16px 20px;
                        justify-content: space-between;
                    }

                    .item-icon {
                        display: flex;
                        gap: 8px;
                        flex-direction: column;
                        @include respond-to(xl) {
                            flex-direction: row;
                            gap: 20px;
                        }
                    }

                    .nav-icon {
                        font-size: 2rem;
                    }
                }

                &.has-children {
                    cursor: pointer;

                    .submenu-icon {
                        display: none;
                        margin-left: 10px;
                        cursor: pointer;
                        color: var(--white);

                        @include respond-to(xl) {
                            display: inline-block;
                        }
                    }

                    .dropdown {
                        display: none;
                    }
                }

                a {
                    text-decoration: none;
                    color: var(--secondary-fade);
                    font-weight: 700;
                    font-size: 1.8rem;
                    padding: 10px;
                    transition: color 0.3s ease;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    text-transform: uppercase;

                    @include respond-to(xl) {
                        color: var(--white);
                    }

                    &:hover {
                        color: var(--secondary-hover);
                        @include respond-to(xl) {
                            color: var(--white);
                        }
                    }
                }

                .dropdown {
                    position: absolute;
                    top: 100%;
                    left: 0;

                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                    @include respond-to(xl) {
                        display: none;
                        border-radius: 0;
                    }

                    li {
                        width: 100%;
                        height: 40px;
                        margin: 0;
                        white-space: nowrap;
                        position: relative;
                        background-color: white;
                        transition: all 0.3s ease-in-out;

                        a {
                            width: 100%;
                            min-width: 200px;
                            padding: 8px 16px;
                            color: gray;
                            display: flex;
                            transition: all ease-in-out 0.2s;
                            text-transform: uppercase;
                            font-size: 1.6rem;

                            &:hover {
                                color: var(--white);
                            }
                        }
                        &:hover {
                            background-color: var(--white);

                            div > a {
                                color: var(--primary);
                            }
                        }
                    }

                    &.open {
                        @media (max-width: 1280px) {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            position: static;
                            box-shadow: none;
                            background-color: none;

                            li {
                                list-style-type: none;
                                background-color: var(--primary);
                                height: auto;

                                &:hover {
                                    background-color: var(--secondary);
                                }

                                a {
                                    color: var(--white);
                                    background-color: transparent;
                                    font-size: 14px;
                                }
                            }

                            .sub-link-wrapper {
                                @include respond-to(xl) {
                                    padding: 20px 40px;
                                    width: 100%;
                                    align-items: center;
                                    display: flex;
                                }
                            }
                        }

                        @media (min-width: 1280px) {
                            display: flex;
                            flex-direction: column;
                            background-color: var(--primary);
                            transform: translateY(12px);
                            opacity: 0;
                            animation: slideDown 0.3s forwards ease-in-out;
                            list-style: none;
                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 25%;
                                width: 20px;
                                height: 20px;
                                background-color: white;
                                transform: rotate(-45deg);
                                transform-origin: left;
                                transition: all 0.3s ease-in-out;
                                border-bottom-left-radius: 20px;
                            }
                        }
                    }
                }
            }
        }

        .search-button {
            background-color: transparent;
            border: none;
            color: white;
            font-size: 16px;
            cursor: pointer;
            padding: 10px;
            transition: color 0.3s ease;

            &:hover {
                color: lightgray;
            }
        }
    }

    @include respond-to(xl) {
        .inner {
            .navigation-links {
                display: none;
                height: 100vh;
                position: fixed;
                top: 88px;
                left: 0;
                width: 100%;
                background-color: #27914a;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                z-index: 1000;

                li {
                    height: auto;
                    align-items: flex-start;

                    &:hover {
                        background-color: var(--secondary);
                    }

                    a {
                        color: white;
                        height: auto;
                        font-size: 18px;
                    }
                }

                &.open {
                    display: flex;
                    max-height: calc(100vh);
                    overflow-y: auto;
                    transition: max-height 0.3s ease;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            .search-button {
                margin-right: 15px;
            }
        }
    }
}

.dropdown-second-level {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @include respond-to(xl) {
        display: none;
        border-radius: 0;
    }

    li {
        height: 40px;
        margin: 0;
        white-space: nowrap;
        list-style: none;

        a {
            width: 100%;
            min-width: 200px;
            padding: 8px 16px;
            color: black;
            background-color: white;
            display: flex;
            align-items: center;
            transition: all ease-in-out 0.3s;
            text-transform: uppercase;

            @include respond-to(xl) {
                padding: 20px 40px;
            }

            &:hover {
                color: var(--white);
                background-color: var(--primary);
            }
        }
    }

    &.open {
        @media (max-width: 1280px) {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: static;
            box-shadow: none;
            background-color: none;

            li {
                background-color: var(--primary);
                height: auto;
                padding: 12px 0 12px 60px;
                &:hover {
                    background-color: var(--secondary);
                }

                a {
                    color: var(--white);
                    background-color: transparent;
                    font-size: 14px;
                }
            }
        }

        @media (min-width: 1280px) {
            display: flex;
            flex-direction: column;
            background-color: var(--primary);
            transform: translateY(12px);
            opacity: 0;
            animation: slideDown 0.3s forwards ease-in-out;
        }
    }
}
