@import '../../../styles/mixins';
@import '../../../styles/variables';

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    background-color: #f9f9f9;
    text-align: center;

    @include respond-to(lg) {
        padding: 0 20px;
    }

    .inner {
        width: var(--default-layout-width);

        @include respond-to(lg) {
            width: 100%;
            margin: 40px 0;
        }
        .title {
            font-size: 3.2rem;
            margin-bottom: 20px;
            font-weight: bold;
            color: var(--primary);
        }

        .certificates {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;

            @include respond-to(lg) {
                width: 100%;
                flex-direction: column;
                gap: 20px;
            }

            .certificate {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 200px;
                max-height: 400px;
                text-align: center;

                @include respond-to(lg) {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    max-height: 100%;
                }

                .certificate-image {
                    width: auto;
                    height: 100%;
                    border-radius: 8px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    object-fit: cover;

                    @include respond-to(lg) {
                        width: 100%;
                        height: auto;
                    }
                }

                .certificate-title {
                    margin-top: 10px;
                    font-size: 16px;
                    color: #333;
                }
            }
        }
    }
}
